import(methods)
import(knitr)
import(Nozzle.R1)
importFrom(Biobase, validMsg)
importFrom(tools, texi2pdf)

exportClasses(QcMetric,
              QcMetrics)

exportMethods(status, "status<-",
              name, "name<-",
              qcdata, "qcdata<-",
              show, plot,
              "show<-", "plot<-",
              "[", "[[",
              qcReport)

export(QcMetric, 
       QcMetrics,
       qcshow)
